/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "SF Pro Display", "CaskaydiaCove Nerd Font Propo"; /* "Nerd Font Propo" is required. "Propo" means proportional and helps prevent incorrect icon rendering. */
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
}

window#waybar {
  border: none;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: transparent;
  transition: all 0.5s ease-in-out;
  border: none;
}

#workspaces button {
  background-color: transparent;
  transition: all 0.150s ease-in-out;
  color: #cccccc;
  opacity: 0.4;
}

#workspaces button.active {
  opacity: 1;
  color: #ffffff;
}

#workspaces button:hover {
  opacity: 1;
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
  border: none;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 4px;
  background-color: #1d1d1d;
}

tooltip label {
  color: #ffffff;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */
#memory,
#cpu,
#disk {
  color: #ffffff;
  font-weight: 600;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */
#clock {
  color: #ffffff;
  transition: background-color 0.5s ease;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */
#pulseaudio {
  background-color: transparent;
  color: #ffffff;
}

#pulseaudio.muted {
  background-color: transparent;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */
#network {
  background-color: transparent;
  color: #ffffff;
}

#network.ethernet {
  background-color: transparent;
  color: #ffffff;
}

#network.wifi {
  background-color: transparent;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */
#bluetooth.on,
#bluetooth.connected {
  background-color: transparent;
  color: #ffffff;
}

#bluetooth.off {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */
#tray {
  background-color: transparent;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */
label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

/* -----------------------------------------------------
 * Keyboard Layout
 * ----------------------------------------------------- */

#language {
  color: #ffffff;
  font-weight: 600;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */
#custom-aichat {
  color: #ffffff;
}

#custom-notification {
  color: #ffffff;
  margin-right: 14px;
}
